.component {
  font-family: var(--font-regular);
  font-size: 14px;
  line-height: 1.57;
  color: var(--theme-instructions-text-color);
  margin-bottom: 10px;
  text-align: center;

  strong {
    font-family: var(--font-medium);
  }
}
