[submodule "js-cardano-wasm"]
	path = js-cardano-wasm
	url = https://github.com/input-output-hk/js-cardano-wasm.git
[submodule "js-cardano-wasm2"]
	path = js-cardano-wasm2
	url = https://github.com/input-output-hk/js-cardano-wasm.git
